.nav-link {
  color: #28a745; 
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 20px;
}


.nav-link:hover {
  background: #28a745; 
  font-weight: bold;
  color: white  ;
  border-radius: 5px;
  padding: 5px;
  
}

.btn-primary{
  background: #01013e; 
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

.mission-box:hover, .vision-box:hover {
  background-color: green;
  transition: background-color 0.3s ease;
  color: #fff;
}
.mission-box, .vision-box {
  background-color: #01013e;
  color: #00BFFF;
}
.overview-box:hover {
  color: green;
  transition: background-color 0.3s ease;
  background-color: #fff;
}

.overview-box{
  color: #01013e;
  background-color: #00BFFF;
}

.btn-primary:hover{
  background: green;
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

.footsearch{
  background:  #01013e;
  padding: 5px;
}

.footer-bg{
  background:  #01013e;
}
.footer-bg h4{
  color: #00BFFF;
}

.footer-bg p{
  color: #fff;
}

.copy li{
  color: #fff; 
}


.social-icons a{
  margin-right: 10px;
  color: #00BFFF;
}

.social-icons a:hover{
border-bottom: 2px solid #fff;

}

.menu-footer{
  font-size: 20px;
}

.menu-footer li:hover{
  color: #00BFFF;
  font-size: 20px;
  text-decoration: underline;
}